doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Shrimp with Sweet Potatoes and Bacon
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 2
                        td sweet potatoes / yams
                    tr
                        td 4 slices
                        td bacon
                    tr
                        td 20
                        td shrimp (medium)
                    tr
                        td 2 tbsp
                        td butter
                    tr
                        td 1 cup
                        td greek yogurt
                    tr
                        td 2 tbsp
                        td honey or maple syrup
                    tr
                        td ¼ tsp
                        td cinnamon
                    tr
                        td
                        td salt &amp; pepper
        
        section.directions
            table
                tr
                    td 1
                    td Peel and roughly chop the sweet potatoes; boil until soft in a stock pot.
                    td 10 min
                tr
                    td 2
                    td
                        | Purée the sweet potatoes in a food processor with the yogurt, honey (or maple syrup), and 
                        | cinnamon.
                    td 5 min
                tr
                    td 3
                    td Cut up the bacon into 1" squares and cook until crispy in a large cast-iron pan.
                    td 10 min
                tr
                    td 4
                    td Set aside the bacon and add the butter, salt, and pepper and heat on high until sizzling.
                    td 3 min
                tr
                    td 5
                    td
                        | Add the shrimp to the pan, and cook until the shrimp have just changed from translucent to 
                        | opaque white.  <b>DO NOT OVERCOOK!</b>
                    td 3-4 min
                tr
                    td 6
                    td Dice the bacon into fine bits and serve in a small dish.
                    td 2 min
                tr
                    td 7
                    td
                        | (optional) Serve by placing several small dollops of sweet potatoes on the plate each with a 
                        | single shrimp on top. Sprinkle generously with bacon bits.
                    td 3 min
