doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.recipe
        h1 Gnocchi
        
        section.ingredients
            .image
                img(src="large.png")
            .list
                table
                    tr
                        td 2
                        td potatoes
                    tr
                        td 2 cups
                        td all-purpose flour
                    tr
                        td 1
                        td egg
        
        section.directions
            table
                tr
                    td 1
                    td Peel and roughly chop potatoes. Add to a pot of boiling water and cook until tender.
                    td 12 min
                tr
                    td 2
                    td Drain the pot, cool, and mash the potatoes.
                    td 2min
                tr
                    td 3
                    td Combine the potatoes, flour, and egg in a mixing bowl. Knead until the dough forms a ball.
                    td 2 min
                tr
                    td 4
                    td On a floured surface, roll out small portions of dough into long, ½" thick cylinders. Cut these
                        | into 1" long segments and set aside.
                tr
                    td 5
                    td Bring a pot of lightly salted water to a boil and drop in the gnocchi. Cook until they rise to 
                        | the surface.
                    td 3-5 min
