doctype html
html
    head
        link(href="/style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Hummus
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 2 15oz cans
                        td garbanzo beans
                    tr
                        td 3 cloves
                        td garlic
                    tr
                        td ½ cup
                        td lemon juice
                    tr
                        td 1¼ cup
                        td olive oil
                    tr
                        td 1 cup
                        td tahini
                    tr
                        td 1 tsp
                        td salt
        
        section.directions
            table
                tr
                    td 1
                    td Place garlic in a food processor and chop thoroughly.
                    td 1 min
                tr
                    td 2
                    td Add garbanzo beans and blend into a paste.
                    td 1 min
                tr
                    td 3
                    td Pour in 1 cup of olive oil and the tahini, lemon juice, and salt. Blend until smooth and creamy.
                    td 2 min
                tr
                    td 4
                    td Transfer hummus to a bowl and top with the remaining olive oil (¼ cup).
                    td 1 min