doctype html
html
    head
        link(href="/style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Bok Choy with Garlic
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 2 tbsp
                        td butter
                    tr
                        td ¼ cup
                        td garlic (diced)
                    tr
                        td 3 cup
                        td chicken broth
                    tr
                        td 6 heads
                        td baby bok choy
                    tr
                        td 1 pinch
                        td salt
                    tr
                        td 1 pinch
                        td black pepper
        
        section.directions
            table
                tr
                    td 1
                    td Melt the butter in a saucepan over medium heat.
                    td 1 min
                tr
                    td 2
                    td Cook the garlic until very lightly browned.
                    td 5 min
                tr
                    td 3
                    td Pour in the chicken broth and bok choy; bring to a boil
                    td 10 min
                tr
                    td 4
                    td Reduce heat and simmer until the bok choy is tender
                    td 6 min
                tr
                    td 5
                    td Season to taste with salt &amp; pepper
                    td 1 min