doctype html
html
    head
        link(href="/style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Roast Leg of Lamb with Rosemary
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 5 lbs
                        td leg of lamb
                    tr
                        td 2 tbsp
                        td dijon mustard
                    tr
                        td ¼ cup
                        td honey
                    tr
                        td 1 tsp
                        td black pepper
                    tr
                        td 1 tsp
                        td coarse sea salt
                    tr
                        td 3 cloves
                        td garlic
                    tr
                        td 1 tsp
                        td lemon zest
                    tr
                        td 2 tbsp
                        td rosemary (fresh, chopped)
        
        section.directions
            table
                tr
                    td 1
                    td 
                        | Combine honey, mustard, rosemary, black pepper, lemon zest, and garlic in a small bowl. Mix 
                        | well and apply to the lamb. Leave in refrigerator to marinade.
                    td overnight
                tr
                    td 2
                    td Preheat over to 450°F
                    td 10 min
                tr
                    td 3
                    td Place lamb in a roasting pan, sprinkle with salt, and place in the oven to cook.
                    td 20 min
                tr
                    td 4
                    td Reduce the heat to 400°F and cook until internal temperature reaches 140°F.
                    td 55-60 min
                tr
                    td 5
                    td Allow the roast to rest on the counter before carving.
                    td 10 min