doctype html
html
    head
        link(href="/style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Curry Butternut Squash &amp; Apple Soup
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 2 tbsp
                        td extra-virgin olive oil
                    tr
                        td 1
                        td carrot
                    tr
                        td 1
                        td onion (diced)
                    tr
                        td 1
                        td apple (cored, peeled, and chopped)
                    tr
                        td 4 cups
                        td butternut squash (peeled and chopped)
                    tr
                        td 1 tsp
                        td cinnamon
                    tr
                        td 1½ tsp
                        td yellow curry powder
                    tr
                        td ½ tsp
                        td salt
                    tr
                        td ½ tsp
                        td black pepper
                    tr
                        td 4 cups
                        td chicken broth
                    tr
                        td ½ cup
                        td cream or half'n'half
        
        section.directions
            table
                tr
                    td 1
                    td Heat oil in a large soup pot.
                    td 2 min
                tr
                    td 2
                    td Add carrot and onion; heat until carrots have begun to soften and onion is translucent
                    td 10 min
                tr
                    td 3
                    td Stir in butternut squash, apple, chicken broth, cinnamon, curry powder, salt and pepper.
                    td 1 min
                tr
                    td 4
                    td Bring to a boil, reduce heat, and simmer until squash is tender.
                    td 30 min
                tr
                    td 5
                    td Use an immersion blender to purée the soup (or work through a blender in batches)
                    td 2 min
                tr
                    td 6
                    td Add cream and blend into the soup.
                    td 1 min
