doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Creamed Spinach
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 1½ cups
                        td whole milk
                    tr
                        td 4 (10oz) boxes
                        td frozen spinach, thawed &amp; squeezed dry
                    tr
                        td ½ cup
                        td water squeezed from the thawed spinach
                    tr
                        td 3 cloves
                        td garlic (minced)
                    tr
                        td 2 tbsp
                        td butter
                    tr
                        td 3 tbsp
                        td flour
                    tr
                        td ½ cup
                        td parmesean cheese (grated)
                    tr
                        td ½ tsp
                        td nutmeg
                    tr
                        td
                        td salt &amp; black pepper
        
        section.directions
            table
                tr
                    td 1
                    td Combine milk, spinach juice, and garlic in a large saucepan and heat until almost boiling
                    td 10 min
                tr
                    td 2
                    td Let stand until garlic is soft
                    td 5-10 min
                tr
                    td 3
                    td Melt butter in a medium stock pot.
                    td 2 min
                tr
                    td 4
                    td Whisk in flour and hot milk mixture until smooth.
                    td 1 min
                tr
                    td 5
                    td Add spinach and cook until sauce is thick and bubbling and spinach is tender.
                    td 5 min
                tr
                    td 6
                    td Stir in cheese, nutmeg, and a generous sprinkling of salt and black pepper.
                    td 1 min
