doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.recipe
        h1 BBQ Pork Ribs
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 4 lbs
                        td pork ribs
                    tr
                        td ¾ cup
                        td light brown sugar
                    tr
                        td 1 tsp
                        td hickory smoke salt
                    tr
                        td 1 tbsp
                        td paprika
                    tr
                        td 1 tbsp
                        td garlic powder
                    tr
                        td 1 tsp
                        td red pepper flakes
                    tr
                        td 2 cups
                        td BBQ Sauce
        
        section.directions
            table
                tr
                    td 1
                    td Preheat the oven to 300°F
                    td 1 min
                tr
                    td 2
                    td Cut the ribs into portions of 2-3 ribs each and lay flat on a portion of tin foil large enough 
                        | to completely cover it.
                    td 3 min
                tr
                    td 3
                    td Mix the sugar and spices together to make the rub and apply evenly to each portion. When 
                        | finished, wrap each portion up completely and place on the rack of a roasting pan.
                    td 5 min
                tr
                    td 4
                    td Fill the bottom of the roasting pan with about a half inch of water and place it in the oven. 
                        | Cook until the meat starts to peel away from the bones.
                    td 2—2½ hours
                tr
                    td 5
                    td Unwrap each portion, brush with BBQ sauce, and place them onto a cooking sheet lined with tin 
                        | foil.
                    td 5 min
                tr
                    td 6
                    td Cook briefly, turn, re-apply the BBQ sauce, and cook again until the sauce is baked on.
                    td 3-4 min