doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.recipe
        h1 Cream of Spinach Soup
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 1½ cups
                        td water
                    tr
                        td 3 tsp
                        td chicken bouillon
                    tr
                        td 10 oz
                        td spinach (frozen)
                    tr
                        td 3 tbsp
                        td butter (unsalted)
                    tr
                        td ¼ cup
                        td flour
                    tr
                        td 2 cups
                        td whole milk
                    tr
                        td 1 cup
                        td heavy cream
                    tr
                        td 1
                        td onion (small, yellow)
                    tr
                        td ¼ cup
                        td parmesan cheese (shredded)
                    tr
                        td 1 tsp
                        td salt
                    tr
                        td 1 tsp
                        td black pepper
                    tr
                        td 3 cloves
                        td garlic (diced)
        
        section.directions
            table
                tr
                    td 1
                    td Cook water, bouillon, and spinach in a large saucepan until spinach is tender.
                    td 5 min
                tr
                    td 2
                    td Melt butter in a large stock pot.
                    td 1 min
                tr
                    td 3
                    td Cook onion and garlic until golden and translucent.
                    td 3 min
                tr
                    td 4
                    td Stir in flour slowly, mixing throughly and cook until golden.
                    td 2 min
                tr
                    td 5
                    td Gradually whisk in milk and cream and cook until thickened.
                    td 5 min
                tr
                    td 6
                    td Add spinach to the stock pot and heat gently until consistently heated throughout.
                    td 5 min