doctype html
html
    head
        link(href="/style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Chicken Pot Pie
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 4 tbsp
                        td butter
                    tr
                        td 1
                        td onion (chopped fine)
                    tr
                        td 2
                        td carrots (sliced thin)
                    tr
                        td 1
                        td celery stalk (diced)
                    tr
                        td 1 tsp
                        td tomato paste
                    tr
                        td 1 tsp
                        td thyme (fresh, diced)
                    tr
                        td ⅓ cup
                        td flour
                    tr
                        td 2 cup
                        td chicken broth
                    tr
                        td 1½ lbs
                        td chicken thighs (skinless, diced)
                    tr
                        td ½ cup
                        td peas (frozen)
                    tr
                        td ¼ cup
                        td heavy cream
                    tr
                        td 3 tbsp
                        td parsley (fresh, minced)
                    tr
                        td 1 tbsp
                        td sherry (dry)
        
        section.directions
            table
                tr
                    td 1
                    td Melt the butter in a large cast-iron pan.
                    td 2 min
                tr
                    td 2
                    td Add onions, carrots, celery, salt, and pepper; cook until soft.
                    td 8 min
                tr
                    td 3
                    td Stir in the tomato paste and thyme; cook until browned.
                    td 2 min
                tr
                    td 4
                    td Stir in the flour and cook until golden.
                    td 1 min
                tr
                    td 5
                    td Slowly whisk in the chicken broth until smooth.
                    td 2 min
                tr
                    td 6
                    td Add the chicken and cover; simmer until the chicken is cooked all the way through.
                    td 10 min
                tr
                    td 7
                    td Stir in the peas, heavy cream, and sherry.
                    td 1 min
                tr
                    td 8
                    td (optional) Serve by pouring over biscuits or in a pie crust.
                    td