doctype html
html
    head
        link(href="/style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Beef Bourguignon
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 6 oz
                        td pork belly / bacon
                    tr
                        td 3 lbs
                        td lean stew beef (in bite-sized pieces)
                    tr
                        td 3 cups
                        td red wine (young &amp; full-bodied)
                    tr
                        td 3 cups
                        td beef stock
                    tr
                        td 3½ tbsp
                        td olive oil
                    tr
                        td 3½ tbsp
                        td butter
                    tr
                        td 20
                        td small white onions
                    tr
                        td 1
                        td yellow onion (chopped)
                    tr
                        td 1 tbsp
                        td tomato paste
                    tr
                        td 2 cloves
                        td garlic (minced)
                    tr
                        td ½ tsp
                        td thyme
                    tr
                        td 1
                        td bay leaf (crumbled)
                    tr
                        td 1
                        td herb bouquet<br>(4 parsley sprigs, <br>½ bay leaf, ¼ tsp thyme)
                    tr
                        td 1 lb
                        td mushrooms (quartered)
                    tr
                        td 2 tbsp
                        td flour
                    tr
                        td
                        td salt &amp; pepper
        
        section.directions
            table
                tr
                    td 1
                    td Preheat oven to 450°F.
                    td
                tr
                    td 2
                    td
                        | Remove the rind from the pork belly &amp; and cut into lardons (sticks ¼" × 1½"). Simmer in 6 
                        | cups of water then drain and dry.
                    td 10 min
                tr
                    td 3
                    td
                        | Sauté lardons in 1 tbsp of olive oil in a cast-iron skillet over medium heat until lightly 
                        | browned. Remove to a small bowl with a slotted spoon.
                    td 2-3 min
                tr
                    td 4
                    td
                        | Raise heat on cast-iron skillet until almost smoking.  Brown the beef a few pieces at a time 
                        | and set aside with the lardons.
                    td 10 min
                tr
                    td 5
                    td
                        | Brown the small onions and mushrooms in the same cast-iron skillet. Set aside the vegetables 
                        | and discard the excess fat.
                    td 5 min
                tr
                    td 6
                    td
                        | Toss the beef and bacon with the flour, ½ tsp salt, and ½ tsp black pepper and add to the 
                        | cast-iron skillet. Put in the oven to brown, tossing the meat again half-way through.
                    td 8 min
                tr
                    td 7
                    td
                        | Stir in the wine and enough beef stock to cover (2-3 cups).  Add the tomato paste, garlic, 
                        | herbs, and bacon rind. Bring to a simmer, then cover and place in the oven at 325°F. Adjust 
                        | temperature to ensure the liquid is just simmering the entire time.
                    td 3-4 hours
                tr
                    td 8
                    td Heat 1½ tbsp butter with 1½ tbsp olive oil in a second cast-iron skillet.
                    td 2 min
                tr
                    td 9
                    td
                        | Add onions and mushrooms and sautée over medium-high heat, taking care to brown the onions as 
                        | evenly as possible, and taking care not to break their skins.
                    td 10 min
                tr
                    td 10
                    td
                        | Add ½ cup of beef stock, salt, black pepper, and the herb bouquet. Cover and simmer until the 
                        | onions are tender and the liquid has evaporated.  Discard the herb bouquet and set the onions 
                        | aside.
                    td 40-50 min
                tr
                    td 11
                    td
                        | Clean the second skillet and heat remaining olive oil and butter over high heat.  Once 
                        | foaming butter begins to subside, add the mushrooms. Cook until browned lightly and set aside.
                    td 4-5 min
                tr
                    td 12
                    td
                        | Once the meat in the first skillet is tender (from step 7), pour out the content of the 
                        | skillet into a sieve, retaining the liquid in a large saucepan.
                    td 1 min
                tr
                    td 13
                    td
                        | Rinse the first cast-iron skillet and return the meat and lardons to it. Distribute the 
                        | onions and mushrooms on top.
                    td 1 min
                tr
                    td 14
                    td
                        | Skim the fat off the retained liquid in the saucepan. Simmer while continuing to skim off the 
                        | excess fat as it rises until you have a sauce thick enough to cover the back of a spoon.  Add 
                        | stock if the sauce is too thick, continue simmering if too thin.
                    td 15 min
                tr
                    td 15
                    td Pour the sauce over the meat, onions, and mushrooms in the first skillet.
                    td 1 min