doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Pommes Purée
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 2 lb
                        td Yukon Gold potatoes
                    tr
                        td 20 tbsp
                        td butter (unsalted)
                    tr
                        td 1⅓ cups
                        td whole milk (+ a little extra)
                    tr
                        td 2 tsp
                        td salt
        
        section.directions
            table
                tr
                    td 1
                    td Peel and chop potatoes into 1" cubes. Rinse and set aside to drain.
                    td 10 min
                tr
                    td 2
                    td Heat the butter, milk, and salt in a large saucepan over medium heat until the butter is melted.
                    td 5 min
                tr
                    td 3
                    td
                        | Add the potatoes and increase the heat to a very low simmer.  Cover, and allow the potatoes 
                        | to cook until very soft all the way through.
                    td 20 min
                tr
                    td 4
                    td Drain the potatoes while retaining the liquid.
                    td 1 min
                tr
                    td 5
                    td Clean the saucepan to remove any scum from cooking.
                    td 1 min
                tr
                    td 6
                    td Return the liquid to the saucepan over very low heat.
                    td 1 min
                tr
                    td 7
                    td Using the purée blade in a food processor, process all the solid potato chunks.
                    td 3 min
                tr
                    td 8
                    td
                        | Recombine the puréed potatoes with the warm liquid in the saucepan adding just enough milk to 
                        | create make them <i>almost</i> pourable (like thick pudding) and bring back to temperature.
                    td 5 min
