doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.recipe
        h1 Ratatouille
        
        section.ingredients
            .image
                img(src="large.png")
            .list
                table
                    tr
                        td 4
                        td italian sausage links (mild)
                    tr
                        td 2
                        td zucchini (same size as links)
                    tr
                        td 2
                        td summer squash (same size as links)
                    tr
                        td 1
                        td red bell pepper
                    tr
                        td 16 oz
                        td tomato purée
                    tr
                        td 8 oz
                        td smoked gouda cheese
                    tr
                        td 8 oz
                        td assiago cheese
                    tr
                        td 2 tsp
                        td fennel seeds
                    tr
                        td 2 tbsp
                        td olive oil
                    tr
                        td 1 tsp
                        td paprika
        
        section.directions
            table
                tr
                    td 1
                    td Using a skillet, pan-fry the sausages in olive oil until nearly cooked (120°F).
                    td 10 min
                tr
                    td 2
                    td Using a mandoline, slice the sausage, squash, and zucchini into ¼" slices.
                    td 10 min
                tr
                    td 3
                    td In a ceramic, oven-safe, dish, spread a thin layer of tomato purée.
                    td 1 min
                tr
                    td 4
                    td
                        | Lay out the sliced items at a 45°, alternating between the three types until the entire 
                        | bottom of the dish has been covered.
                    td 5 min
                tr
                    td 5
                    td Add a thin layer of tomato purée followed by a thin layer of mixed, shredded cheese.
                    td 2 min
                tr
                    td 6
                    td Continue to alternate layers until the dish is full, ending with a cheese layer.
                    td 10 min
                tr
                    td 7
                    td Garnish with a dusting of paprika and thin ribbons of red bell pepper.
                    td 2 min
                tr
                    td 8
                    td Cover with foil and bake at 400°.
                    td 30 min
