doctype html
html
    head
        link(href="../style2.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")

    body.recipe
        section.header
            .image(style="background-image: url('./large.png')")

            .about
                h1 Butter Chicken

                .timing prep 35 min, cook 30 min

                .icons
                    .icon.overnight
                    .icon.gluten-free
                    .icon.low-carb
                    .icon.serving
                    | × 6

                .description.
                    This is a fairly simple Indian dish which turns out a large amount of amazingly spiced chicken with
                    fairly little effort. Our first time, we doubled the recipe and used pre-cut chunks of chicken, but
                    it tasty both the day of and for several days afterward.

        section.instructions
            .step
                h3 1
                .ingredients
                    ul
                        li
                            .amount 1½ cups
                            .item greek yogurt (full-fat)
                        li
                            .amount 2 tbsp
                            .item lemon juice
                        li
                            .amount 1½ tbsp
                            .item tumeric (ground)
                        li
                            .amount 2 tbsp
                            .item garam masala
                        li
                            .amount 2 tbsp
                            .item cumin (ground)
                        li
                            .amount 3 lbs
                            .item chicken thighs, on the bone
                .detail.
                    Whisk together the yogurt, lemon juice, tumeric, garam masala, and cumin in a large bowl. Add the
                    chicken and coat throughly with the marinade. Cover and place in the refrigerator overnight.

            .step
                h3 2
                .ingredients
                    ul
                        li
                            .amount ¼ lb
                            .item butter (unsalted)
                        li
                            .amount 4 tsp
                            .item vegetable oil
                        li
                            .amount 2
                            .item onions (yellow, diced)
                        li
                            .amount 4 cloves
                            .item garlic (minced)
                        li
                            .amount 3 tbsp
                            .item ginger (peeled, grated)
                        li
                            .amount 1 tbsp
                            .item cumin seeds
                .detail.
                    In a large pan over medium heat, melt the butter until it starts to foam. Add the onions and cook
                    until translucent. Add garlic, ginger, and cumin seeds. Continue to cook until the onions start to
                    brown.

            .step
                h3 3
                .ingredients
                    ul
                        li
                            .amount 1
                            .item cinnamon stick
                        li
                            .amount 2
                            .item tomatoes (diced)
                        li
                            .amount 2
                            .item red chilies (e.g., jalapeño)
                        li
                            .amount ~
                            .item kosher salt
                .detail.
                    Add the cinnamon stick, tomatoes, chiles, and salt. Cook until the chilis are soft.

            .step
                h3 4
                .ingredients
                    ul
                        li
                            .amount ⅔ cups
                            .item chicken stock
                .detail.
                    Add the chicken and marinade to the pan, and cook until heated through. Add the chicken stock, and
                    bring to a boil. Reduce the heat and simmer, uncovered, for 30 minutes.

            .step
                h3 5
                .ingredients
                    ul
                        li
                            .amount 1½ cups
                            .item cream
                        li
                            .amount 1½ tsp
                            .item tomato paste
                .detail.
                    Stir in the cream and tomato paste. Simmer until completely mixed and heated through.

            .step
                h3 6
                .ingredients
                    ul
                        li
                            .amount 3 tbsp
                            .item almonds (slivered)
                        li
                            .amount ½ cup
                            .item cilantro (minced)
                .detail.
                    Add the almonds and cook until softened. Add the cilantro as a garnish and serve.

        section.credits.
            Sam Sifton, NYTimes Cooking Section, https://cooking.nytimes.com/recipes/1016754-butter-chicken
