doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.recipe
        h1 Ruth's Chris Chopped Salad
        
        section.ingredients
            .image
                img(src="large.png")
            .list
                h2 For the Salad
                table
                    tr
                        td 8 cups
                        td iceberg lettuce (sliced thin)
                    tr
                        td 1 cup
                        td spinach (sliced thin)
                    tr
                        td ⅓ cup
                        td red onion (diced)
                    tr
                        td ½ cup
                        td green olives (minced)
                    tr
                        td 6 oz
                        td white mushrooms (quartered)
                    tr
                        td 4
                        td eggs (hard boiled, sliced)
                    tr
                        td ½ lb
                        td bacon (cooked &amp; crumbled)
                    tr
                        td 1 × 14 oz can
                        td hearts of palm (chilled)
                    tr
                        td 1 cup
                        td crumbled bleu cheese
                    tr
                        td ½ cup
                        td croutons
                    tr
                        td 10
                        td cherry tomatoes (halved)
                    tr
                        td ½ cup
                        td crispy fried onions
                
                h2 For the Dressing
                table
                    tr
                        td ¼ cup
                        td basil leaves
                    tr
                        td 4-5 tbsp
                        td lemon juice
                    tr
                        td (to taste)
                        td salt
                    tr
                        td (to taste)
                        td garlic powder
        
        section.directions
            h2 For the Salad
            table
                tr
                    td 1
                    td
                        | In a large salad bowl, layer in the ingredients in order: lettuce, spinach, red onions, 
                        | olives, mushrooms, hearts of palm, eggs &amp; bacon
                    td 2 min
                tr
                    td 2
                    td Top with the crispy onions, crumbled bleu cheese, and croutons
                    td 1 min
                tr
                    td 3
                    td
                        | Just before serving, top with a small amount of dressing.  Serve the remainder of dressing on 
                        | the side.
            
            h2 For the Dressing
            table
                tr
                    td 1
                    td Place all ingredients in a blender and purée on high.
                    td 1 min
                tr
                    td 2
                    td Allow the dressing to set in the refrigerator.
                    td overnight
