doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Chicken Breasts with Caper Cream Sauce
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 4
                        td chicken breasts (boneless, skinless)
                    tr
                        td 1 tsp
                        td lemon pepper
                    tr
                        td 1 tsp
                        td salt
                    tr
                        td 1 tsp
                        td dill weed
                    tr
                        td 1 tsp
                        td garlic powder
                    tr
                        td 3 tbsp
                        td butter
                    tr
                        td ½ cup
                        td whipping cream
                    tr
                        td 2 tbsp
                        td capers
        
        section.directions
            table
                tr
                    td 1
                    td Season chicken breasts with lemon pepper, salt, dill weed, and garlic powder.
                    td 1 min
                tr
                    td 2
                    td Melt the butter in a large skillet over medium heat.
                    td 1 min
                tr
                    td 3
                    td
                        | Place chicken in the skillet and raise heat to medium-high. Cook, turning frequently, until 
                        | browned evenly.
                    td 5 min
                tr
                    td 4
                    td Reduce heat to medium and continue to cook until heated to 180°F all the way through.
                    td 5-7 min
                tr
                    td 5
                    td
                        | Place chicken on a serving platter and set aside.  Pour in whipping cream and whisk 
                        | continuously until the sauce thickens.
                    td 3 min
                tr
                    td 6
                    td Stir in the capers, then pour sauce over the chicken and serve.
                    td 1 min