doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Garlic Prime Rib
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 5-10 lb
                        td prime rib roast (1 rib / 2 people)
                    tr
                        td 10 cloves
                        td garlic (minced)
                    tr
                        td 2 tbsp
                        td olive oil
                    tr
                        td 2 tsp
                        td salt
                    tr
                        td 2 tsp
                        td black pepper
                    tr
                        td 2 tsp
                        td thyme
        
        section.directions
            table
                tr
                    td 1
                    td Mix the garlic, salt, pepper, olive oil and thyme together in a small mixing bowl.
                    td 2 min
                tr
                    td 2
                    td
                        | Place the meat in a roasting pan and cover with the marinade. Leave out on the counter until 
                        | it is room temperature.  Preheat the oven to 500°F.
                    td &lt; 1 hour
                tr
                    td 3
                    td Add about ½" of water to the bottom of the roasting pan and place in the oven.
                    td 20 min
                tr
                    td 4
                    td 
                        | Turn the oven down to 325°F and cover the roasting pan with foil. Cook until the roast reaches
                        | 130°F in the center.
                    td 45-75 min
                tr
                    td 5
                    td Let the roast rest outside the oven before serving.
                    td 10 min