doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.recipe
        h1 Orange Chicken
        
        section.ingredients
            .image
                img(src="large.png")
            .list
                h2 For the marinade
                
                table
                    tr
                        td 3 cups
                        td water
                    tr
                        td 2
                        td oranges
                    tr
                        td ½ cup
                        td lemon juice
                    tr
                        td ⅔ cup
                        td rice vinegar
                    tr
                        td 5 tbsp
                        td soy sauce
                    tr
                        td 2 cups
                        td brown sugar
                    tr
                        td 1 tsp
                        td ginger root (minced)
                    tr
                        td 1 tsp
                        td garlic (minced)
                    tr
                        td 4 tbsp
                        td green onions (chopped)
                    tr
                        td ½ tsp
                        td red pepper flakes
                    tr
                        td 4
                        td chicken breasts (boneless, skinless)
                
                h2 For cooking
                
                table
                    tr
                        td 2 cups
                        td all-purpose flour
                    tr
                        td ½ tsp
                        td sald
                    tr
                        td ½ tsp
                        td black pepper
                    tr
                        td 1 cup
                        td cooking oil
                    tr
                        td 3 tbsp
                        td cornstarch
                    tr
                        td ⅓ cup
                        td water (cold)
        
        section.directions
            h2 For the marinade
            
            table
                tr
                    td 1
                    td Remove the zest from the oranges and squeeze all their juice into a large saucepan. Add all the 
                        | other ingredients for the marinade and bring to a boil.
                    td 10 min
                tr
                    td 2
                    td Cut the chicken into bite-sized pieces and set aside until the marinade is cool.
                    td 10-15 min
                tr
                    td 3
                    td Place the chicken and marinade into a sealable container and refrigerate.
                    td overnight
            
            h2 For cooking
            
            table
                tr
                    td 1
                    td Divide the flour, salt, and pepper into two large ziploc bags and place half the chicken in 
                        | each. Shake each bag until the chicken is completely covered in flour, and everything is dry 
                        | in each bag.
                    td 3 min
                tr
                    td 2
                    td Place a large skillet on the stove and add about ¼" of cooking oil to the bottom of the pan. 
                        | Heat on high until the oil is quite hot.
                    td 4 min
                tr
                    td 3
                    td Working in batches, and replenishing the oil as needed, add the chicken. Cook each side until 
                        | crisp and lightly browned, then set aside in a container lined with paper towels.
                    td 10 min
                tr
                    td 4
                    td Combine the cold water and cornstarch in a small container and set aside.
                    td 1 min
                tr
                    td 5
                    td Wipe the skillet clean, and pour in half the remaining marinade.  Heat on high while slowly 
                        | mixing in the cornstarch mixture. Reduce the sauce, stiring constantly, until a spatula wiped 
                        | through the pan leaves a clear trail behind it.
                    td 10-15 min
                tr
                    td 6
                    td Add the chicken to the reduced marinade and cook until heated through.
                    td 2 min
