doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Tzatziki
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 1 cup
                        td greek yogurt
                    tr
                        td 1
                        td cucumber (large)
                    tr
                        td 2 cloves
                        td garlic (diced)
                    tr
                        td 1 tsp
                        td lemon zest
                    tr
                        td 1 tbsp
                        td lemon juice
                    tr
                        td 2 tbsp
                        td dill (fresh, chopped)
                    tr
                        td
                        td salt &amp; pepper
        
        section.directions
            table
                tr
                    td 1
                    td Peel the cucumber, quarter, and remove all the seeds. Dice finely.
                    td 15 min
                tr
                    td 2
                    td Combine all the ingredients in a mixing bowl.
                    td 2 min
                tr
                    td 3
                    td Chill before serving.
                    td 30 min
