doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.recipe
        h1 Clam Chowder
        
        section.ingredients
            .image
                img(src="large.png")
            .list
                table
                    tr
                        td 3 6½ oz cans
                        td minced clams
                    tr
                        td 1 cup
                        td onion (chopped)
                    tr
                        td 1 cup
                        td celery (diced)
                    tr
                        td 1 cups
                        td potatoes (cubed)
                    tr
                        td 1 cup
                        td carrots (diced)
                    tr
                        td ¾ cup
                        td butter
                    tr
                        td ¾ cup
                        td all-purpose flour
                    tr
                        td 1 qt
                        td half-n-half
                    tr
                        td 2 tbsp
                        td red wine vinegar
                    tr
                        td 1½ tsp
                        td salt
                    tr
                        td 1 tsp
                        td black pepper
        
        section.directions
            table
                tr
                    td 1
                    td
                        | Drain liquid from clams into a large skillet with the carrots, onions, celery, potatoes. Add
                        | water to cover, and cook over medium heat until tender.
                    td 20 min
                tr
                    td 2
                    td Melt the butter in a large, heavy saucepan over medium heat.
                    td 2 min
                tr
                    td 3
                    td Whisk in the flour until smooth. Whisk in cream until smooth.
                    td 2 min
                tr
                    td 4
                    td Add vegetables and heat, but do not boil.
                    td 10 min
                tr
                    td 5
                    td Remove heat and stir in clams, vinegar, salt and pepper.
                    td 1 min
