doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.recipe
        h1 Hungarian Mushroom Beef Soup
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 1 lb
                        td beef stew meat
                    tr
                        td 4 tbsp
                        td butter
                    tr
                        td 1
                        td large onion (chopped)
                    tr
                        td 1 lb
                        td brown mushrooms (chopped)
                    tr
                        td 2 tsp
                        td dill weed (minced)
                    tr
                        td 1 tsp
                        td hungarian paprika
                    tr
                        td 1 tbsp
                        td tamari
                    tr
                        td 2 cups
                        td beef broth
                    tr
                        td &nbsp;
                        td salt &amp; pepper
                    tr
                        td 3 tbsp
                        td flour
                    tr
                        td 1 cup
                        td whole milk
                    tr
                        td 2 tsp
                        td lemon juice
                    tr
                        td 1 cup
                        td sour cream
        
        section.directions
            table
                tr
                    td 1
                    td Heat the oil in a large soup pot and brown the beef in batches. Set aside to cool.
                    td 10 min
                tr
                    td 2
                    td Add half the butter and sautée onions until soft and just starting to brown.
                    td 3 min
                tr
                    td 3
                    td Add salt, pepper, dill, paprika, meat, and broth. Bring to a boil and then reduce to a simmer.
                    td 1 hour
                tr
                    td 4
                    td While the meat is simmering, add the remaining butter to a large saucepan and heat on medium 
                        | until it foams.
                    td 2 min
                tr
                    td 5
                    td Add flour to the butter and whisk until smooth. Allow to heat through.
                    td 2 min
                tr
                    td 6
                    td Add milk and whisk thoroughly to remove all lumps.  Allow to simmer while stirring continually 
                        | until the roux has thickened.  Add to the soup pot when finished.
                    td 5 min
                tr
                    td 7
                    td When the meat is tender, add the lemon juice, adust spices to taste, and finally stir in the 
                        | sour cream.
                    td 2 min
