doctype html
html
    head
        link(href="/style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Lemon Chicken with Mushroom Sauce
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 1 tbsp
                        td olive oil
                    tr
                        td 8
                        td chicken breasts (skinless, boneless)
                    tr
                        td 1
                        td lemon
                    tr
                        td ¼ cup
                        td butter
                    tr
                        td 3 cups
                        td mushrooms (fresh, sliced)
                    tr
                        td 2 tbsp
                        td flour
                    tr
                        td ½ cup
                        td chicken broth
                    tr
                        td 1 tbsp
                        td parsley (fresh, chopped)
        
        section.directions
            table
                tr
                    td 1
                    td Preheat the oven to 400°
                    td 10 min
                tr
                    td 2
                    td Put chicken in a single layer of an 8×8 glass baking dish coating each with olive oil
                    td 2 min
                tr
                    td 3
                    td
                        | Squeeze the juice of half the lemon over the chicken breasts; slice the other half and place 
                        | a slice over each breast.
                    td 5 min
                tr
                    td 4
                    td Cook the chicken in the oven until they reach 170°.
                    td 15 min
                tr
                    td 5
                    td While the chicken is in the oven, melt the butter in a saucepan.
                    td 2 min
                tr
                    td 6
                    td Add the mushrooms and cook until they are soft and brown and the liquid has evaporated.
                    td 6 min
                tr
                    td 7
                    td Sprinkle flour over the mushrooms and stir until coated.
                    td 1 min
                tr
                    td 8
                    td Add the chicken broth and stir to make a medium-thick sauce.
                    td 2 min
                tr
                    td 9
                    td Add parsley just as the sauce is finally thickening.
                    td 1 min
                tr
                    td 10
                    td Once the chicken is cooked, plate each breast and cover with mushrooms and sauce.
                    td 2 min
