doctype html
html
    head
        link(href="/style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Caldo Verde
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td ½ cup
                        td olive oil
                    tr
                        td 24 oz
                        td spanish chorizo sausage
                    tr
                        td 2
                        td onions (chopped fine)
                    tr
                        td 8 cloves
                        td garlic
                    tr
                        td ½ tsp
                        td red pepper flakes
                    tr
                        td 4 lbs
                        td potatoes (yukon gold)
                    tr
                        td 8 cups
                        td chicken broth
                    tr
                        td 8 cups
                        td water
                    tr
                        td 2 lbs
                        td collard greens
                    tr
                        td 4 tsp
                        td white wine vinegar
                    tr
                        td &nbsp;
                        td salt &amp; pepper
        
        section.directions
            table
                tr
                    td 1
                    td Heat 1 tsp olive oil in a large stock pot over medium-high heat.
                    td 2 min
                tr
                    td 2
                    td Add chorizo and cook until lightly browned.
                    td 5 min
                tr
                    td 3
                    td Transfer the chorizo to a bowl and set aside.
                    td 1 min
                tr
                    td 4
                    td
                        | Reduce heat and add onion, garlic, 2½ tsp salt, red pepper flakes, and black pepper.
                        | Cook until onion is translucent.
                    td 5 min
                tr
                    td 5
                    td Add potatoes, broth, water and bring to a boil.
                    td 10 min
                tr
                    td 6
                    td Reduce heat and simmer until potatoes and just tender.
                    td 8-10 min
                tr
                    td 7
                    td Transfer 1½ cups of solids and 1½ cups of liquid to a blender and purée.
                    td 5 min
                tr
                    td 8
                    td Add collard greens and simmer.
                    td 10 min
                tr
                    td 9
                    td Stir in chorizo an dsimmer until greens are soft.
                    td 8-10 min
                tr
                    td 9
                    td Add remaining oil to the blender and purée
                    td 1 min
                tr
                    td 10
                    td Turn off the heat and add both the purée and vinegar.
                    td 1 min