doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.recipe
        h1 Ricotta Meatballs
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td ½
                        td onion
                    tr
                        td 4 tbsp
                        td olive oil
                    tr
                        td 3 cloves
                        td garlic
                    tr
                        td 1 cup
                        td whole milk ricotta cheese
                    tr
                        td ¼ cup
                        td italian parsley (packed)
                    tr
                        td 1
                        td egg
                    tr
                        td 1½ tsp
                        td kosher salt
                    tr
                        td ½ tsp
                        td black pepper
                    tr
                        td 1 pinch
                        td cayenne pepper
                    tr
                        td ⅓ cup
                        td bread crumbs (or gluten-free oatmeal)
                    tr
                        td 1 large jar
                        td marinara sauce
                    tr
                        td 1 cup
                        td water
        
        section.directions
            table
                tr
                    td 1
                    td Saute onions in 2 tbsp of olive oil in a skillet over medium heat until the onion is translucent.
                    td 5 min
                tr
                    td 2
                    td Stir in garlic and continue to saute.
                    td 2 min
                tr
                    td 3
                    td Transfer mixture to a large bowl and combine with ground beef, ricotta cheese, parsley, egg, salt
                        | black pepper, and cayenne pepper.  Once completely mixed, stir in the bread crumbs and 
                        | continue to mix until completely blended.
                    td 3 min
                tr
                    td 4
                    td Form 1" balls out of the meat mixture and set aside on a tray covered in parchment paper.
                    td 10 min
                tr
                    td 5
                    td Pre-heat the oven to 400°F.  Pour the remaining oil in the skillet and lightly brown the 
                        | meatballs in small batches, placing the browned meatballs in an oven-safe casserole.
                    td 10 min
                tr
                    td 6
                    td Pour marinara sauce and water over the meatballs. Cover with foil and bake in the oven until 
                        | cooked through.
                    td 30 min