doctype html
html
    head
        link(href="/style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Garlic Broccoli
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 1 bunch
                        td broccoli (cut into bite-size pieces)
                    tr
                        td 4 cloves
                        td garlic
                    tr
                        td ½ cup
                        td parmesan cheese (grated)
                    tr
                        td 1 tbsp
                        td dijon mustard
                    tr
                        td ⅓ cup
                        td olive oil
                    tr
                        td ¼ cup
                        td red wine vinegar
                    tr
                        td 1½ tsp
                        td salt
        
        section.directions
            table
                tr
                    td 1
                    td Place garlic on a cutting board and mash into a paste with the salt.
                    td 2 min
                tr
                    td 2
                    td
                        | Transfer to a medium bowl, and stir in mustard, vinegar, and olive oil.  Add the broccoli and 
                        | mix thoroughly.  Cover and place in the refigerator.
                    td 3 hours
                tr
                    td 3
                    td Sprinkle parmesan cheese over the broccoli before serving.
                    td 1 min
