doctype html
html
    head
        link(href="../style2.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")

    body.recipe
        section.header
            .image(style="background-image: url('./large.png')")

            .about
                h1 French Onion Soup

                .timing prep 15 min, cook 50 min

                .icons
                    .icon.gluten-free
                    .icon.vegetarian
                    .icon.serving
                    | × 4

                .description.
                    This staple, while a bit hard on the eyes (oh the cutting!) is very easy on the mouth!  Leave off
                    the bread (or substitue a gluten-free option) to turn it into a gluten-free recipe, but be sure to
                    go easy on the cheese if there is no bread to support it.

        section.instructions
            .step
                h3 1
                .ingredients
                    ul
                        li
                            .amount ½ cup
                            .item butter (unsalted)
                        li
                            .amount 2 tbsp
                            .item olive oil
                        li
                            .amount 4 cups
                            .item onions (chopped)
                .detail.
                    Melt the butter with olive oil in an large stock pot over medium heat. When the butter foams, add
                    the onions and sautee until soft and translucent. Take care not to brown the onions.

            .step
                h3 2
                .ingredients
                    ul
                        li
                            .amount 40 oz
                            .item beef broth
                        li
                            .amount 2 tbsp
                            .item dry sherry
                        li
                            .amount 1 tsp
                            .item thyme
                        li
                            .amount ~
                            .item salt &amp; pepper
                .detail.
                    Add the beef broth, sherry, and thyme. Season with salt and pepper and bring to a boil. Reduce the
                    heat and reduce to a simmer.

            .step
                h3 3
                .ingredients
                .detail.
                    Pre-heat the oven broiler.

            .step
                h3 4
                .ingredients
                    ul
                        li
                            .amount 4 slices
                            .item french bread
                        li
                            .amount 4 slices
                            .item provolone cheese
                        li
                            .amount 2 slices
                            .item swiss cheese
                        li
                            .amount ¼ cup
                            .item parmesean cheese (grated)
                .detail.
                    Ladle the soup into four oven-safe bowls, and place a slice of bread on top of each. Divide the
                    cheese between each bowl. Place the bowls on a cookie sheet and place under the broiler until the
                    cheese bubbles and just starts to turn brown.

        section.credits.
            Lori Levin, AllRecipes.com, <a href="http://allrecipes.com/recipe/13309/rich-and-simple-french-onion-soup">
            http://allrecipes.com/recipe/13309/rich-and-simple-french-onion-soup</a>
