doctype html
html
    head
        link(href="/style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Winter Lentil Soup
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 10 cups
                        td water
                    tr
                        td 5 cups
                        td chicken stock
                    tr
                        td 4 tbsp
                        td butter
                    tr
                        td 3
                        td celery stalks (diced)
                    tr
                        td 3 cups
                        td french lentils
                    tr
                        td 1
                        td onion (yellow)
                    tr
                        td 1 bunch
                        td swiss chard (chopped)
                    tr
                        td 1
                        td butternut squash (cubed)
                    tr
                        td 3 tbsp
                        td curry powder
                    tr
                        td 2 tbsp
                        td honey
                    tr
                        td 2
                        td bay leaves
                    tr
                        td 1 sprig
                        td fresh thyme
                    tr
                        td
                        td salt &amp; pepper
        
        section.directions
            table
                tr
                    td 1
                    td Pour the water and chicken stock in to a large stock pot on medium heat.
                    td 15 min
                tr
                    td 2
                    td Add vegetables and lentils to the stock pot and bring to a boil.
                    td 15 min
                tr
                    td 3
                    td Reduce heat to a simmer and add curry, thyme, salt, pepper, honey and butter and cover.
                    td 3 hours
                tr
                    td 4
                    td Add 1 tsp of coconut oil and a pinch of crushed red pepper to each bowl when serving.
                    td 2 min
