doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.recipe
        h1 Gluten-Free Flour
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 24 oz
                        td white rice flour
                    tr
                        td 7½ oz
                        td brown rice flour
                    tr
                        td 7 oz
                        td potato starch
                    tr
                        td 3 oz
                        td tapioca starch
                    tr
                        td ¾ oz
                        td nonfat dry milk powder
        
        section.attribution
            p From <a href="https://www.americastestkitchen.com/recipes/7854-americas-test-kitchen-all-purpose-gluten-free-flour-blend">America's Test Kitchen</a>
        
        section.directions
            table
                tr
                    td 1
                    td Mix all ingredients and store, refrigerated, in an airtight container.