doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Kofta Kebabs
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 2 lbs
                        td lamb (ground)
                    tr
                        td 4 stems
                        td parsley
                    tr
                        td 1
                        td onion (small)
                    tr
                        td 3 cloves
                        td garlic
                    tr
                        td 1 tsp
                        td white pepper
                    tr
                        td 1 tsp
                        td cumin
                    tr
                        td ½ tsp
                        td cordiander
                    tr
                        td 1 pinch
                        td ground cloves
                    tr
                        td 5
                        td mint leaves
                    tr
                        td 1 tsp
                        td red pepper flakes
                    tr
                        td
                        td olive oil
                    tr
                        td
                        td salt
        
        section.directions
            table
                tr
                    td 1
                    td In a large mixing bowl, knead the meat until uniform and soft.
                    td 4 min
                tr
                    td 2
                    td Roughly chop the onion and purée with a food processor.
                    td 1 min
                tr
                    td 3
                    td Add the remaining ingredients (except olive oil) to the bowl and knead until mixed.
                    td 3 min
                tr
                    td 4
                    td Cover the bowl and refrigerate.
                    td 20 min
                tr
                    td 5
                    td Coat your hands with olive oil and roll the meat into balls about 2"-3" in diameter.
                    td 10 min
                tr
                    td 6
                    td Cook in the oven at 400°F until the centers reach 140°
                    td 10 min
