doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.recipe
        h1 Pizza
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                h2 For the dough
                
                table
                    tr
                        td 800 g
                        td bread flour (King Arthur's)
                    tr
                        td 500 g
                        td water (110°F - 115°F)
                    tr
                        td 3½ g
                        td instant dry yeast
                    tr
                        td 16 g
                        td salt
                    tr
                        td 8 g
                        td sugar
                    tr
                        td 3 tsp
                        td olive oil
                
                h2 For each pizza (×4)
                
                table
                    tr
                        td 2 cups
                        td pizza sauce (or tomato puree)
                    tr
                        td 4 oz
                        td mozzerella cheese (shredded)
                
                h2 Options for toppings
                
                table
                    tr
                        td pepperoni
                        td black olives
                    tr
                        td green peppers
                        td sliced onions
                    tr
                        td ground sausage
                        td ground beef
        
        section.directions
            h2 For the dough
            
            table
                tr
                    td 1
                    td Add yeast and sugar to the water without stirring.
                    td 5 min
                tr
                    td 2
                    td Stir the yeast mixture. In a separate bowl, combine the salt and flour. Gradually incorporate 
                        | the flour mixture into the water until fully mixed.
                tr
                    td 3
                    td Add the oil and knead the dough, ensuring the dough ends up between 75°F to 80°F.
                    td 4-5 min
                tr
                    td 4
                    td Divide the dough into 4 exactly equal pieces and store in the refrigerator an oiled ziploc bag.
                    td 2-3 days
            
            h2 For each pizza
            
            table
                tr
                    td 1
                    td Preheat the oven and pizza stone to 550°F.
                    td 1 hour
                tr
                    td 2
                    td Open up the dough <a href="https://youtu.be/GtAeKM_f2WU">as described here</a>, taking care not 
                        | to degas the crust. Finish by placing on two overlapping pieces of parchment paper.
                    td 5 min
                tr
                    td 3
                    td Set up all the toppings you would like on the pizza ahead of time in the proper amounts. The next
                        | step will need to be performed quickly.
                    td 1 min
                tr
                    td 4
                    td Take the pizza stone out of the oven and place on a cooling rack. Slide the parchment paper over 
                        | the stone and then pull out one sheet at a time leaving the dough on the stone. Working 
                        | quickly, add the sauce, cheese, and then toppings. Return the stone to the oven promptly.
                    td 2 min
                tr
                    td 5
                    td Bake the pizza until the cheese is bubbling, the crust is brown, and the toppings just staring 
                        | to singe.
                    td 4-6 min