doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Bourbon Glazed Carrots
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 2 lbs
                        td carrots
                    tr
                        td ¼ cup
                        td butter
                    tr
                        td ¼ cup
                        td brown sugar
                    tr
                        td 2 tbsp
                        td bourbon
        
        section.directions
            table
                tr
                    td 1
                    td Cut carrots into bite-sized pieces and cover with water in a medium-sized stock pot.
                    td 3 min
                tr
                    td 2
                    td
                        | Bring carrots to a boil and immediately reduce heat to a simmer. Cook until carrots are tender
                        | but still somewhat firm.  Drain and transfer to a serving dish.
                    td 15 min
                tr
                    td 3
                    td Combine sugar, butter, and bourbon in a saucepan; bring to a simmer.  Cook until thickened.
                    td 10 min
                tr
                    td 4
                    td Pour bourbon sauce over the carrots and serve hot.
                    td 1 min
