doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.recipe
        h1 Kielbasa and Cabbage
        
        section.ingredients
            .image
                img(src="large.png")
            .list
                table
                    tr
                        td 1 lb
                        td kielbasa
                    tr
                        td 6 slices
                        td bacon
                    tr
                        td 1
                        td cabbage (chopped)
                    tr
                        td 2 tsp
                        td garlic (minced)
                    tr
                        td 1
                        td onion (chopped)
                    tr
                        td ¼ cup
                        td water
                    tr
                        td 3 tsp
                        td caraway seed
                    tr
                        td ¼ tsp
                        td red pepper flakes
                    tr
                        td ¼ tsp
                        td salt
                    tr
                        td 2 tbsp
                        td sugar
        
        section.directions
            table
                tr
                    td 1
                    td
                        | Fry bacon over medium-high heat in a large skillet until browned.  Set bacon aside, keeping 
                        | drippings.
                    td 5 min
                tr
                    td 2
                    td
                        | Stir water, sugar, onion, garlic, red pepper flakes, salt, and caraway seeds into the bacon 
                        | drippings. Add cabbage, and gently stir.  Cover and cook over medium heat until cabbage is 
                        | soft and translucent.
                    td 10-15 min
                tr
                    td 3
                    td Add kielbasa to the pan and cook until heated all the way through.
                    td 10-15 min
                tr
                    td 4
                    td Crumble the bacon and sprinkle over the top.
                    td 1 min
