doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")

    body.recipe
        h1 Fluffy Pancakes

        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td ¾ cup
                        td whole milk
                    tr
                        td 2 tbsp
                        td white vinegar
                    tr
                        td 1 cup
                        td all-purpose flour
                    tr
                        td 2 tbsp
                        td white sugar
                    tr
                        td 1 tsp
                        td baking powder
                    tr
                        td ½ tsp
                        td baking soda
                    tr
                        td ½ tsp
                        td salt
                    tr
                        td 1
                        td egg
                    tr
                        td 2 tbsp
                        td butter (melted)

        section.directions
            table
                tr
                    td 1
                    td Combine milk and vinegar in a medium bowl and set aside to sour.
                    td 5 min
                tr
                    td 2
                    td Combine dry ingredients in a small bowl.
                    td 1 min
                tr
                    td 3
                    td Whisk the egg and melted butter into the soured milk.
                    td 1 min
                tr
                    td 4
                    td Whisk the dry ingredients into the wet ingredients a little at a time, being sure to eliminate
                        | any lumps before adding more of the dry mixture.
                    td 3 min
                tr
                    td 5
                    td Heat a large skillet over medium heat (300°F). Scoop ¼ cup of the batter at a time to form each
                        | pancake. Cook until bubbles form, then flip.  Remove each from the heat when lightly browned.
                    td 5 min
