doctype html
html
    head
        link(href="/style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Sweet Potatoes with Honey and Rosemary
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 2 tbsp
                        td olive oil
                    tr
                        td ¼ cup
                        td honey
                    tr
                        td 2 tbsp
                        td rosemary (fresh, chopped)
                    tr
                        td 1 tsp
                        td kosher salt
                    tr
                        td 1 tsp
                        td black pepper
                    tr
                        td 3
                        td sweet potatoes (large)
        
        section.directions
            table
                tr
                    td 1
                    td Preheat the oven to 350°F and line a cooking sheet with foil.
                    td 1 min
                tr
                    td 2
                    td Wash, peel, and cut the sweet potatoes into bite-sized pieces.
                    td 10 min
                tr
                    td 3
                    td Mix the olive oil, honey, rosemary, salt, and black pepper in a large bowl.
                    td 1 min
                tr
                    td 4
                    td Stir in the sweet potatoes and mix until covered in oil and herbs.
                    td 1 min
                tr
                    td 5
                    td Transfer the sweet potatoes to the cooking sheet in a single layer.
                    td 3 min
                tr
                    td 6
                    td Cook sweet potatoes in the oven until tender.
                    td 45 min