doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Southern Buttermilk Biscuits
        
        section.ingredients
            .image
                img(src="large.png")
            .list
                table
                    tr
                        td 4½ cups
                        td all-purpose flour (Lily brand)
                    tr
                        td 2 tsp
                        td cream of tartar
                    tr
                        td 2 tsp
                        td baking soda
                    tr
                        td 1½ tsp
                        td salt
                    tr
                        td ½ cup
                        td butter (cold, diced)
                    tr
                        td 9 tbsp
                        td butter (softened)
                    tr
                        td 3 tbsp
                        td butter (melted)
                    tr
                        td 2 cups
                        td buttermilk
                
                h2 For making gluten free:
                
                table
                    tr
                        td omit
                        td all-purpose flour
                    tr
                        td 4½ cups
                        td <a href="../gluten-free-flour">gluten-free flour</a>
                    tr
                        td 1 tbsp
                        td psyllium husk
        
        section.directions
            table
                tr
                    td 1
                    td Preheat the oven to convection bake at 450°F.
                    td 10 min
                tr
                    td 2
                    td Combine flour, cream of tartar, baking soda, and salt in a large mixing bowl.
                    td 2 min
                tr
                    td 3
                    td Cut the cold butter in the dry ingredients with a pastry blender until the mixture resembles 
                        | pea-sized crumbs.  Refrigerate for 20 min if the butter gets soft during this process.
                    td 2 min<br>(20 min)
                tr
                    td 4
                    td Add 1½ cups of buttermilk, stirring enough to moisten the ingredients (adding more 1 tbsp at a 
                        | time, if needed).
                    td 2 min
                tr
                    td 5
                    td Being careful not to overwork the dough, kneed the dough 10 times on a lightly floured surface 
                        | or until the dough just holds together.
                    td 3 min
                tr
                    td 6
                    td Roll or pat out into a 14×10" rectangle.
                    td 1 min
                tr
                    td 7
                    td With the short side nearest you, spread 3 tbsp of the softened butter over the ⅔ of the surface 
                        | farthest from you.
                    td 1 min
                tr
                    td 8
                    td Fold the dough in thirds (like a letter) by pulling the bottom over the center and then the top 
                        | third over that. Expect the dough to crack during this process.
                    td 1 min
                tr
                    td 9
                    td Pat back into a 9×12" rectangle and repeat the same process twice more with another 3 tbsp of 
                        | the softened butter each time.
                    td 2 min
                tr
                    td 10
                    td Pat the dough out into a 1" thick rectangle.
                    td 1 min
                tr
                    td 11
                    td Cut the dough into 2-3" squares using a scraper and place on a lightly oiled cooking sheet about 
                        | 1" apart. Brush the tops with the melted butter.
                    td 1 min
                tr
                    td 12
                    td Place in the oven and bake until the tops are golden brown and firm.
                    td 8-12 min
