.cookbook section h1 {
  font-family: sans-serif;
  font-size: 24pt;
  font-weight: bold; }

.cookbook section .list {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap; }
  .cookbook section .list a {
    flex: 0 1 4in;
    border-radius: 0.0625in;
    break-inside: avoid;
    color: black;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0.0625in;
    padding-right: 0.125in;
    transition: all 0.25s; }
    .cookbook section .list a:visited {
      color: black; }
    .cookbook section .list a:hover {
      background: #23B7F2;
      color: white; }
    .cookbook section .list a img {
      border: 0.01in solid silver;
      border-radius: 0.0625in;
      margin-right: 0.125in;
      height: 0.5in;
      width: 0.5in; }
    .cookbook section .list a p {
      font-family: serif;
      font-size: 18pt;
      margin: 0;
      padding: 0;
      overflow: hidden;
      text-overflow: ellipsis; }

.recipe {
  margin: 0 auto;
  max-width: 7in;
  display: flex;
  flex-direction: column; }
  .recipe h1 {
    margin-top: 0;
    margin-bottom: 0.25in;
    font-family: serif;
    font-size: 24pt; }
  .recipe h2 {
    font-size: 12pt;
    margin: 0;
    margin-bottom: 0.125in;
    text-transform: uppercase; }
  .recipe .ingredients {
    display: flex; }
    .recipe .ingredients .image img {
      border-radius: 0.25in;
      border: 0.01in solid silver;
      width: 3in;
      max-height: 3in; }
    .recipe .ingredients .list {
      margin-left: 0.25in; }
      .recipe .ingredients .list table {
        margin-bottom: 0.25in; }
        .recipe .ingredients .list table tr {
          vertical-align: top; }
          .recipe .ingredients .list table tr td:nth-child(1) {
            font-family: sans-serif;
            font-size: 12pt;
            padding-right: 0.125in;
            text-align: right;
            white-space: nowrap; }
          .recipe .ingredients .list table tr td:nth-child(2) {
            font-family: sans-serif;
            font-size: 12pt; }
  .recipe .directions {
    margin-top: 0.25in; }
    .recipe .directions tr {
      vertical-align: top; }
      .recipe .directions tr td {
        padding-bottom: 0.1875in; }
    .recipe .directions td:nth-child(1) {
      padding-right: 0.25in;
      font-family: sans-serif;
      font-size: 18pt;
      font-weight: bold; }
      .recipe .directions td:nth-child(1):after {
        content: "."; }
    .recipe .directions td:nth-child(2) {
      width: 100%;
      font-family: serif;
      font-size: 14pt; }
    .recipe .directions td:nth-child(3) {
      padding-left: 0.25in;
      font-family: sans-serif;
      font-size: 9pt;
      white-space: nowrap; }
  .recipe .attribution {
    margin: 0 0.25in;
    color: gray;
    font-family: sans-serif;
    font-size: 10pt; }
    .recipe .attribution p {
      margin: 0; }
      .recipe .attribution p a {
        color: gray; }

@media (max-width: 600px) {
  .recipe {
    padding: 0 0.125in; }
    .recipe h1 {
      text-align: center; }
    .recipe .ingredients {
      flex-direction: column;
      align-items: center; }
      .recipe .ingredients .list {
        margin-top: 0.25in; } }
