doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="style.css")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.cookbook
        h1 Baking
        
        a(href="bagels")
            img(src="bagels/final.png")
            | Bagels
        
        a(href="challah")
            img(src="challah/final.png")
            | Challah
        
        a(href="fluffy-pancakes")
            img(src="fluffy-pancakes/final.png")
            | Fluffy Pancakes
        
        a(href="gluten-free-flour")
            img(src="gluten-free-flour/final.png")
            | Gluten-Free Flour
        
        a(href="pizza")
            img(src="pizza/final.png")
            | Pizza
        
        a(href="rosemary-dinner-rolls")
            img(src="rosemary-dinner-rolls/final.png")
            | Rosemary Dinner Rolls
        
        a(href="southern-buttermilk-biscuits")
            img(src="southern-buttermilk-biscuits/final.png")
            | Southern Buttermilk Biscuits
        
        h1 Soups
        
        a(href="caldo-verde")
            img(src="caldo-verde/final.png")
            | Caldo Verde
        
        a(href="clam-chowder")
            img(src="clam-chowder/final.png")
            | Clam Chowder

        a(href="cream-of-spinach-soup")
            img(src="cream-of-spinach-soup/final.png")
            | Cream of Spinach Soup
            
        a(href="curry-butternut-squash-and-apple-soup")
            img(src="curry-butternut-squash-and-apple-soup/final.png")
            | Curry Butternut Squash &amp; Apple Soup
            
        a(href="winter-lentil-soup")
            img(src="winter-lentil-soup/final.png")
            | Winter Lentil Soup
            
        h1 Salads
        
        a(href="caesar-salad")
            img(src="caesar-salad/final.png")
            | Caesar Salad
        
        a(href="ruths-chris-chopped-salad")
            img(src="ruths-chris-chopped-salad/final.png")
            | Ruth's Chris Chopped Salad
        
        h1 Main Dish
            
        a(href="bbq-pork-ribs")
            img(src="bbq-pork-ribs/final.png")
            | BBQ Pork Ribs
            
        a(href="beef-bourguignon")
            img(src="beef-bourguignon/final.png")
            | Beef Bourguignon
            
        a(href="chicken-cordon-bleu")
            img(src="chicken-cordon-bleu/final.png")
            | Chicken Cordon Bleu
            
        a(href="chicken-pot-pie")
            img(src="chicken-pot-pie/final.png")
            | Chicken Pot Pie
            
        a(href="chicken-breasts-with-caper-cream-sauce")
            img(src="chicken-breasts-with-caper-cream-sauce/final.png")
            | Chicken Breasts with Caper Cream Sauce
            
        a(href="chole")
            img(src="chole/final.png")
            | Chole
            
        a(href="garlic-prime-rib")
            img(src="garlic-prime-rib/final.png")
            | Garlic Prime Rib
            
        a(href="gnocchi")
            img(src="gnocchi/final.png")
            | Gnocchi
            
        a(href="kielbasa-and-cabbage")
            img(src="kielbasa-and-cabbage/final.png")
            | Kielbasa and Cabbage
            
        a(href="kofta-kebabs")
            img(src="kofta-kebabs/final.png")
            | Kofta Kebabs
            
        a(href="lemon-chicken-with-mushroom-sauce")
            img(src="lemon-chicken-with-mushroom-sauce/final.png")
            | Lemon Chicken with Mushroom Sauce
            
        a(href="orange-chicken")
            img(src="orange-chicken/final.png")
            | Orange Chicken
            
        a(href="ratatouille")
            img(src="ratatouille/final.png")
            | Ratatouille
            
        a(href="ricotta-meatballs")
            img(src="ricotta-meatballs/final.png")
            | Ricotta Meatballs
            
        a(href="roast-leg-of-lamb-with-rosemary")
            img(src="roast-leg-of-lamb-with-rosemary/final.png")
            | Roast Leg of Lamb with Rosemary
            
        a(href="shrimp-with-sweet-potatoes-and-bacon")
            img(src="shrimp-with-sweet-potatoes-and-bacon/final.png")
            | Shrimp with Sweet Potatoes and Bacon
            
        a(href="sloppy-joe-sandwiches")
            img(src="sloppy-joe-sandwiches/final.png")
            | Sloppy Joe Sandwiches
            
        h1 Sides
            
        a(href="bok-choy-with-garlic")
            img(src="bok-choy-with-garlic/final.png")
            | Bok Choy with Garlic
            
        a(href="bourbon-glazed-carrots")
            img(src="bourbon-glazed-carrots/final.png")
            | Bourbon Glazed Carrots
            
        a(href="creamed-spinach")
            img(src="creamed-spinach/final.png")
            | Creamed Spinach
            
        a(href="garlic-broccoli")
            img(src="garlic-broccoli/final.png")
            | Garlic Broccoli
            
        a(href="hummus")
            img(src="hummus/final.png")
            | Hummus
            
        a(href="pommes-puree")
            img(src="pommes-puree/final.png")
            | Pommes Purée
            
        a(href="sweet-potatoes-with-honey-and-rosemary")
            img(src="sweet-potatoes-with-honey-and-rosemary/final.png")
            | Sweet Potatoes with Honey and Rosemary
            
        a(href="tzatziki")
            img(src="tzatziki/final.png")
            | Tzatziki