doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="style.css")
        meta(name="viewport" content="user-scalable=no, width=device-width")

    body.cookbook
        h1 Baking

        a(href="bagels")
            img(src="bagels/large.png")
            | Bagels

        a(href="challah")
            img(src="challah/large.png")
            | Challah

        a(href="fluffy-pancakes")
            img(src="fluffy-pancakes/large.png")
            | Fluffy Pancakes

        a(href="gluten-free-flour")
            img(src="gluten-free-flour/large.png")
            | Gluten-Free Flour

        a(href="pizza")
            img(src="pizza/large.png")
            | Pizza

        a(href="rosemary-dinner-rolls")
            img(src="rosemary-dinner-rolls/large.png")
            | Rosemary Dinner Rolls

        a(href="southern-buttermilk-biscuits")
            img(src="southern-buttermilk-biscuits/large.png")
            | Southern Buttermilk Biscuits

        h1 Soups

        a(href="caldo-verde")
            img(src="caldo-verde/large.png")
            | Caldo Verde

        a(href="clam-chowder")
            img(src="clam-chowder/large.png")
            | Clam Chowder

        a(href="cream-of-spinach-soup")
            img(src="cream-of-spinach-soup/large.png")
            | Cream of Spinach Soup

        a(href="curry-butternut-squash-and-apple-soup")
            img(src="curry-butternut-squash-and-apple-soup/large.png")
            | Curry Butternut Squash &amp; Apple Soup

        a(href="french-onion-soup")
            img(src="french-onion-soup/large.png")
            | French Onion Soup

        a(href="hungarian-mushroom-beef-soup")
            img(src="hungarian-mushroom-beef-soup/large.png")
            | Hungarian Mushroom Beef Soup

        a(href="spicy-lamb-soup")
            img(src="spicy-lamb-soup/large.png")
            | Spicy Lamb Soup

        a(href="winter-lentil-soup")
            img(src="winter-lentil-soup/large.png")
            | Winter Lentil Soup

        h1 Salads

        a(href="caesar-salad")
            img(src="caesar-salad/large.png")
            | Caesar Salad

        a(href="cucumber-salad")
            img(src="cucumber-salad/large.png")
            | Cucumber Salad

        a(href="ruths-chris-chopped-salad")
            img(src="ruths-chris-chopped-salad/large.png")
            | Ruth's Chris Chopped Salad

        h1 Main Dish

        a(href="bbq-pork-ribs")
            img(src="bbq-pork-ribs/large.png")
            | BBQ Pork Ribs

        a(href="beef-bourguignon")
            img(src="beef-bourguignon/large.png")
            | Beef Bourguignon

        a(href="butter-chicken")
            img(src="butter-chicken/large.png")
            | Butter Chicken

        a(href="chicken-cordon-bleu")
            img(src="chicken-cordon-bleu/large.png")
            | Chicken Cordon Bleu

        a(href="chicken-pot-pie")
            img(src="chicken-pot-pie/large.png")
            | Chicken Pot Pie

        a(href="chicken-breasts-with-caper-cream-sauce")
            img(src="chicken-breasts-with-caper-cream-sauce/large.png")
            | Chicken Breasts with Caper Cream Sauce

        a(href="chili")
            img(src="chili/large.png")
            | Chili

        a(href="chole")
            img(src="chole/large.png")
            | Chole

        a(href="egg-and-onion-pie")
            img(src="egg-and-onion-pie/large.png")
            | Egg & Onion Pie

        a(href="garlic-prime-rib")
            img(src="garlic-prime-rib/large.png")
            | Garlic Prime Rib

        a(href="gnocchi")
            img(src="gnocchi/large.png")
            | Gnocchi

        a(href="kielbasa-and-cabbage")
            img(src="kielbasa-and-cabbage/large.png")
            | Kielbasa and Cabbage

        a(href="kofta-kebabs")
            img(src="kofta-kebabs/large.png")
            | Kofta Kebabs

        a(href="lemon-chicken-with-mushroom-sauce")
            img(src="lemon-chicken-with-mushroom-sauce/large.png")
            | Lemon Chicken with Mushroom Sauce

        a(href="orange-chicken")
            img(src="orange-chicken/large.png")
            | Orange Chicken

        a(href="ratatouille")
            img(src="ratatouille/large.png")
            | Ratatouille

        a(href="ricotta-meatballs")
            img(src="ricotta-meatballs/large.png")
            | Ricotta Meatballs

        a(href="roast-leg-of-lamb-with-rosemary")
            img(src="roast-leg-of-lamb-with-rosemary/large.png")
            | Roast Leg of Lamb with Rosemary

        a(href="shrimp-with-sweet-potatoes-and-bacon")
            img(src="shrimp-with-sweet-potatoes-and-bacon/large.png")
            | Shrimp with Sweet Potatoes and Bacon

        a(href="sloppy-joe-sandwiches")
            img(src="sloppy-joe-sandwiches/large.png")
            | Sloppy Joe Sandwiches

        a(href="stuffed-green-peppers")
            img(src="stuffed-green-peppers/large.png")
            | Stuffed Green Peppers

        h1 Sides

        a(href="bok-choy-with-garlic")
            img(src="bok-choy-with-garlic/large.png")
            | Bok Choy with Garlic

        a(href="bourbon-glazed-carrots")
            img(src="bourbon-glazed-carrots/large.png")
            | Bourbon Glazed Carrots

        a(href="creamed-spinach")
            img(src="creamed-spinach/large.png")
            | Creamed Spinach

        a(href="garlic-broccoli")
            img(src="garlic-broccoli/large.png")
            | Garlic Broccoli

        a(href="hummus")
            img(src="hummus/large.png")
            | Hummus

        a(href="pommes-puree")
            img(src="pommes-puree/large.png")
            | Pommes Purée

        a(href="sauteed-mushrooms")
            img(src="sauteed-mushrooms/large.png")
            | Sauteed Mushrooms

        a(href="sweet-potatoes-with-honey-and-rosemary")
            img(src="sweet-potatoes-with-honey-and-rosemary/large.png")
            | Sweet Potatoes with Honey and Rosemary

        a(href="tzatziki")
            img(src="tzatziki/large.png")
            | Tzatziki
