doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="style.css")
        meta(name="viewport" content="user-scalable=no, width=device-width")
        meta(charset="utf-8")

    body.cookbook
        section
            h1 Appetizers

            .list
                a(href="buffalo-wings")
                    img(src="buffalo-wings/large.png")
                    p Buffalo Wings

        section
            h1 Baking

            .list
                a(href="bagels")
                    img(src="bagels/large.png")
                    p Bagels

                a(href="challah")
                    img(src="challah/large.png")
                    p Challah

                a(href="fluffy-pancakes")
                    img(src="fluffy-pancakes/large.png")
                    p Fluffy Pancakes

                a(href="gluten-free-flour")
                    img(src="gluten-free-flour/large.png")
                    p Gluten-Free Flour

                a(href="pizza")
                    img(src="pizza/large.png")
                    p Pizza

                a(href="rosemary-dinner-rolls")
                    img(src="rosemary-dinner-rolls/large.png")
                    p Rosemary Dinner Rolls

                a(href="southern-buttermilk-biscuits")
                    img(src="southern-buttermilk-biscuits/large.png")
                    p Southern Buttermilk Biscuits

        section
            h1 Drinks

            .list
                a(href="eggnog")
                    img(src="eggnog/large.png")
                    p Eggnog

        section
            h1 Soups

            .list
                a(href="caldo-verde")
                    img(src="caldo-verde/large.png")
                    p Caldo Verde

                a(href="clam-chowder")
                    img(src="clam-chowder/large.png")
                    p Clam Chowder

                a(href="cream-of-spinach-soup")
                    img(src="cream-of-spinach-soup/large.png")
                    p Cream of Spinach Soup

                a(href="curry-butternut-squash-and-apple-soup")
                    img(src="curry-butternut-squash-and-apple-soup/large.png")
                    p Curry Butternut Squash &amp; Apple Soup

                a(href="french-onion-soup")
                    img(src="french-onion-soup/large.png")
                    p French Onion Soup

                a(href="hungarian-mushroom-beef-soup")
                    img(src="hungarian-mushroom-beef-soup/large.png")
                    p Hungarian Mushroom Beef Soup

                a(href="spicy-lamb-soup")
                    img(src="spicy-lamb-soup/large.png")
                    p Spicy Lamb Soup

                a(href="winter-lentil-soup")
                    img(src="winter-lentil-soup/large.png")
                    p Winter Lentil Soup

        section
            h1 Salads

            .list
                a(href="caesar-salad")
                    img(src="caesar-salad/large.png")
                    p Caesar Salad

                a(href="cucumber-salad")
                    img(src="cucumber-salad/large.png")
                    p Cucumber Salad

                a(href="ruths-chris-chopped-salad")
                    img(src="ruths-chris-chopped-salad/large.png")
                    p Ruth's Chris Chopped Salad

        section
            h1 Entrées

            .list
                a(href="bbq-pork-ribs")
                    img(src="bbq-pork-ribs/large.png")
                    p BBQ Pork Ribs

                a(href="beef-bourguignon")
                    img(src="beef-bourguignon/large.png")
                    p Beef Bourguignon

                a(href="butter-chicken")
                    img(src="butter-chicken/large.png")
                    p Butter Chicken

                a(href="chicken-breasts-with-caper-cream-sauce")
                    img(src="chicken-breasts-with-caper-cream-sauce/large.png")
                    p Chicken Breasts with Caper Cream Sauce

                a(href="chicken-cordon-bleu")
                    img(src="chicken-cordon-bleu/large.png")
                    p Chicken Cordon Bleu

                a(href="chicken-pastries")
                    img(src="chicken-pastries/large.png")
                    p Chicken Pastries

                a(href="chicken-pot-pie")
                    img(src="chicken-pot-pie/large.png")
                    p Chicken Pot Pie

                a(href="chicken-tikka-masala")
                    img(src="chicken-tikka-masala/large.png")
                    p Chicken Tikka Masala

                a(href="chili")
                    img(src="chili/large.png")
                    p Chili

                a(href="chole")
                    img(src="chole/large.png")
                    p Chole

                a(href="cornish-game-hens")
                    img(src="cornish-game-hens/large.png")
                    p Cornish Game Hens

                a(href="egg-and-onion-pie")
                    img(src="egg-and-onion-pie/large.png")
                    p Egg & Onion Pie

                a(href="garlic-prime-rib")
                    img(src="garlic-prime-rib/large.png")
                    p Garlic Prime Rib

                a(href="gnocchi")
                    img(src="gnocchi/large.png")
                    p Gnocchi

                a(href="keto-pork-ribs")
                    img(src="keto-pork-ribs/large.png")
                    p Keto Pork Ribs

                a(href="kielbasa-and-cabbage")
                    img(src="kielbasa-and-cabbage/large.png")
                    p Kielbasa and Cabbage

                a(href="kofta-kebabs")
                    img(src="kofta-kebabs/large.png")
                    p Kofta Kebabs

                a(href="lemon-chicken-with-mushroom-sauce")
                    img(src="lemon-chicken-with-mushroom-sauce/large.png")
                    p Lemon Chicken with Mushroom Sauce

                a(href="orange-chicken")
                    img(src="orange-chicken/large.png")
                    p Orange Chicken

                a(href="ratatouille")
                    img(src="ratatouille/large.png")
                    p Ratatouille

                a(href="ricotta-meatballs")
                    img(src="ricotta-meatballs/large.png")
                    p Ricotta Meatballs

                a(href="roast-leg-of-lamb-with-rosemary")
                    img(src="roast-leg-of-lamb-with-rosemary/large.png")
                    p Roast Leg of Lamb with Rosemary

                a(href="roast-fowl")
                    img(src="roast-fowl/large.png")
                    p Roast Fowl

                a(href="scrambled-eggs")
                    img(src="scrambled-eggs/large.png")
                    p Scrambled Eggs

                a(href="shrimp-with-sweet-potatoes-and-bacon")
                    img(src="shrimp-with-sweet-potatoes-and-bacon/large.png")
                    p Shrimp with Sweet Potatoes and Bacon

                a(href="sloppy-joe-sandwiches")
                    img(src="sloppy-joe-sandwiches/large.png")
                    p Sloppy Joe Sandwiches

                a(href="stuffed-green-peppers")
                    img(src="stuffed-green-peppers/large.png")
                    p Stuffed Green Peppers

                a(href="swedish-meatballs")
                    img(src="swedish-meatballs/large.png")
                    p Swedish Meatballs

        section
            h1 Sides

            .list
                a(href="bok-choy-with-garlic")
                    img(src="bok-choy-with-garlic/large.png")
                    p Bok Choy with Garlic

                a(href="bourbon-glazed-carrots")
                    img(src="bourbon-glazed-carrots/large.png")
                    p Bourbon Glazed Carrots

                a(href="creamed-spinach")
                    img(src="creamed-spinach/large.png")
                    p Creamed Spinach

                a(href="garlic-broccoli")
                    img(src="garlic-broccoli/large.png")
                    p Garlic Broccoli

                a(href="hasselback-potatoes")
                    img(src="hasselback-potatoes/large.png")
                    p Hasselback Potatoes

                a(href="hummus")
                    img(src="hummus/large.png")
                    p Hummus

                a(href="pommes-puree")
                    img(src="pommes-puree/large.png")
                    p Pommes Purée

                a(href="sauteed-mushrooms")
                    img(src="sauteed-mushrooms/large.png")
                    p Sauteed Mushrooms

                a(href="sweet-potatoes-with-honey-and-rosemary")
                    img(src="sweet-potatoes-with-honey-and-rosemary/large.png")
                    p Sweet Potatoes with Honey and Rosemary

                a(href="tzatziki")
                    img(src="tzatziki/large.png")
                    p Tzatziki
