doctype html
html
    head
        link(href="/style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Chole
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 2 tbsp
                        td cilantro (chopped)
                    tr
                        td 16 oz can
                        td garbanzo beans (rinsed, drained)
                    tr
                        td 1 tsp
                        td garlic (minced)
                    tr
                        td 1 cup
                        td onions (chopped)
                    tr
                        td ½ cup
                        td tomatoes (chopped)
                    tr
                        td 1 tbsp
                        td olive oil
                    tr
                        td 1½ cups
                        td water
                    tr
                        td ½ tsp
                        td chili powder
                    tr
                        td 1½ tsp
                        td coriander powder
                    tr
                        td ½ tsp
                        td cumin powder
                    tr
                        td ¾ tsp
                        td garam masala
                    tr
                        td 1 tsp
                        td salt
                    tr
                        td ½ tsp
                        td turmeric
        
        section.directions
            table
                tr
                    td 1
                    td Sauté onions in oil in a skillet over medium-low heat until soft and translucent.
                    td 5 min
                tr
                    td 2
                    td Stir in garlic and continue to cook.
                    td 2 min
                tr
                    td 3
                    td Add tomatoes, cover, and continue to cook.
                    td 5 min
                tr
                    td 4
                    td Stir in dry dry spices and continue to cook.
                    td 1 min
                tr
                    td 5
                    td Add ¼ cup of water. Cover and continue to cook until heated through, stirring frequently.
                    td 3-5 min
                tr
                    td 6
                    td Add beans and remaining water. Bring to a boil, and then reduce heat to a simmer.
                    td 5 min
                tr
                    td 7
                    td 
                        | Add cilantro, mixing well along with additional water to create the desired thickness of the 
                        | sauce.
                    td 2 min