doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.recipe
        h1 Rosemary Dinner Rolls
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 1 package
                        td active dry yeast
                    tr
                        td ¼ cup
                        td warm water (110°F—115°F)
                    tr
                        td 1 cup + 1 tsp
                        td milk (whole)
                    tr
                        td 4 tbsp
                        td butter
                    tr
                        td 2½ cups
                        td all-purpose flour
                    tr
                        td 1 tbsp
                        td honey
                    tr
                        td 2 tsp
                        td rosemary (powdered)
                    tr
                        td 2 tbsp
                        td olive oil
                    tr
                        td 1
                        td egg
                    tr
                        td 1 tsp
                        td salt
                    tr
                        td 1 tsp
                        td caraway seeds
        
        section.directions
            table
                tr
                    td 1
                    td Pre-heat the oven to 135°F
                    td 5 min
                tr
                    td 2
                    td Add the yeast to the warm water in a small bowl and stir gently. Set aside until foamy.
                    td 10 min
                tr
                    td 3
                    td Combine 1 cup of milk and the butter in a saucepan and heat gently until the butter is melted.
                    td 3 min
                tr
                    td 4
                    td Combine 2 cups flour, yeast mixture, milk mixture, honey, 1 tsp salt, and rosemary in a mixing
                        | bowl and mix with a mixing blade on a low setting until completely blended.
                    td 5 min
                tr
                    td 5
                    td Replace the mixing blade with a dough hook, and continue to knead on low.  Add more flour 1 tsp
                        | at a time as needed until a single ball forms, and then allow kneading to continue until the
                        | dough is slighly wet in appearance.
                    td 6 min
                tr
                    td 6
                    td Turn off the oven. Lightly coat the dough ball with olive oil, place in a clean bowl, and cover
                        | with a wet towel. Place the bowl in the oven at wait until it has doubled in size.
                    td 90 min
                tr
                    td 7
                    td Remove the dough from the oven and pre-heat to 135°F again. Divide the dough into 16 pieces, 
                        | gently form them into balls about 2" in diameter and place on a baking sheet lined with 
                        | parchment paper about 1" apart.
                    td 5 min
                tr
                    td 8
                    td Mix the egg and the remaining milk in a small bowl. Brush the tops of each dough ball lightly 
                        | with the egg mixture and cover lightly with the caraway seeds.
                    td 1 min
                tr
                    td 9
                    td Turn off the oven and place the baking sheet inside covered with a damp paper towel until the 
                        | dough balls have roughly doubled in size again.
                    td 20-30 min
                tr
                    td 10
                    td Remove the tray and pre-heat the oven to 375°F. When up to temperature, return the baking sheet, 
                        | uncovered, until the rolls are golden brown.
                    td 20 min