doctype html
html
    head
        link(href="../style2.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")

    body.recipe
        section.header
            .image(style="background-image: url('./large.png')")

            .about
                h1 Sauteed Mushrooms

                .timing prep 10 min, cook 15 min

                .icons
                    .icon.gluten-free
                    .icon.low-carb
                    .icon.vegetarian
                    .icon.serving
                    | × 4

                .description.
                    These are the best sauteed mushrooms I've ever had. Slighly salty, and very savory, they serve very
                    well as a topping for steak, baked potatoes and whatever else needs a strong flavor.

        section.instructions
            .step
                h3 1
                .ingredients
                    ul
                        li
                            .amount 3 tbsp
                            .item olive oil
                        li
                            .amount 3 tbsp
                            .item butter
                        li
                            .amount 1 lb
                            .item button mushrooms (sliced)
                .detail.
                    Heat the olive oil and butter in a large saucepan over medium heat until it foams. Add the mushrooms
                    and cook until reduced somewhat in size and slightly yellowed (about 5 minutes).

            .step
                h3 2
                .ingredients
                    ul
                        li
                            .amount 1 clove
                            .item garlic (minced)
                        li
                            .amount 1 tbsp
                            .item red wine
                        li
                            .amount 1 tbsp
                            .item tamari (or soy-sauce)
                        li
                            .amount ¼ tsp
                            .item garlic salt (or kosher salt)
                        li
                            .amount ~
                            .item black pepper
                .detail.
                    Add the remaining ingredients and cook until the mushrooms are slightly browned and the sauced
                    thickened (about 5-10 minutes).

        section.credits.
            IrishMountainGirl, AllRecipes.com, <a href="http://allrecipes.com/recipe/222795/superb-sauteed-mushrooms">
            http://allrecipes.com/recipe/222795/superb-sauteed-mushrooms</a>
