doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")
    
    body.recipe
        h1 Bagels
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 2 tsp
                        td active dry yeast
                    tr
                        td 1½ tbsp
                        td granulated sugar
                    tr
                        td 1¼ cup
                        td warm water
                    tr
                        td 500g
                        td bread flour (+ a little extra)
                    tr
                        td 1½ tsp
                        td salt
                
                h2 Ideas for toppings:
                
                table
                    tr
                        td kosher salt
                        td caraway seeds
                    tr
                        td sesame seeds
                        td fennel seeds
                    tr
                        td minced onion
                        td minced garlic
                    tr
                        td poppy seeds
                        td cumin seeds
        
        section.directions
            table
                tr
                    td 1
                    td Add the sugar and yeast to 1½ cups of warm water. Leave without stirring.
                    td 5 min
                tr
                    td 2
                    td Mix the flour and salt in a large mixing bowl.
                    td 1 min
                tr
                    td 3
                    td Make a well in the center of the flour and pour in the yeast mixture along with an extra ⅓ cup 
                        | of warm water.
                    td 1 min
                tr
                    td 4
                    td Mix the flour and water until you have a moist and firm dough, adding more warm water a tbsp at 
                        | a time if needed (it may not be).
                    td 3 min
                tr
                    td 5
                    td On a floured countertop, kneed the dough until it is smooth and elastic while trying to work in 
                        | as much flour as possible to form a stiff dough.
                    td 10 min
                tr
                    td 6
                    td Lightly coat the dough with olive oil, place in a bowl, and cover with a damp dish towel. Let 
                        | rise in a warm place until the dough has doubled in size.
                    td 1 hour
                tr
                    td 7
                    td Fill a large pot with water about 3" deep and bring to a boil, and then reduce the heat to a 
                        | simmer. Preheat your oven to 425°F.
                    td 10 min
                tr
                    td 8
                    td Using a scale, divide the dough into 8 equal portions. Shape each portion into a ball by rolling
                        | in between your two cupped hands.
                    td 8 min
                tr
                    td 9
                    td Coat a finger with flour and gently press your finger through the center of each ball.  Expand 
                        | the initial hole until it's about ⅓ the overall diameter of the bagel.
                    td 8 min
                tr
                    td 10
                    td Using a slotted spoon (or something similar), drop in each bagel into the water and boil for 1-2 
                        | min on each side (more times makes for a chewier crust).
                    td 2-4 min
                tr
                    td 11
                    td Remove the bagels from water and place onto a lightly oiled cooking sheet. Coat each bagel 
                        | lightly with an egg wash and cover with your preferred toppings.
                    td 2 min
                tr
                    td 12
                    td Bake until golden brown and the toppings just start to singe.
                    td 20 min
                tr
                    td 13
                    td Cool on a wire rack.
                    td 5 min
