doctype html
html
    head
        link(href="../style.css" rel="stylesheet" type="text/css")
    
    body.recipe
        h1 Caesar Salad
        
        section.ingredients
            .image
                img(src="final.png")
            .list
                table
                    tr
                        td 6 tbsp
                        td olive oil
                    tr
                        td 1
                        td egg
                    tr
                        td 1 tsp
                        td anchovy paste
                    tr
                        td 5 tsp
                        td garlic (minced)
                    tr
                        td 2 tsp
                        td lemon juice
                    tr
                        td 2 heads
                        td romaine lettuce
                    tr
                        td ⅓ cup
                        td parmesan cheese
        
        section.directions
            table
                tr
                    td 1
                    td
                        | Add the olive oil, egg, lemon juice, garlic, and anchovy paste to a large bowl and beat until 
                        | smooth and evenly mixed.
                    td 3 min
                tr
                    td 2
                    td Place the dressing the refrigerator to chill.
                    td 30 min
                tr
                    td 3
                    td Roll the bowl around on its sides to spread the dressing evenly across the inner surface.
                    td 1 min
                tr
                    td 4
                    td Pluck the leaves off the lettuce and tear into bite-sized pieces depositing them in the bowl.
                    td 3 min
                tr
                    td 5
                    td Toss the salad throughly, making sure to cover all the lettuce evenly with the dressing.
                    td 1 min
                tr
                    td 6
                    td Sprinkle the cheese over the salad.
                    td 1 min